[Unit]
Description=K2 framework selection
ConditionFirstBoot=yes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/k2-framework-setup
StandardInput=tty
StandardOutput=journal+console
StandardError=journal+console
TTYPath=/dev/tty1
TTYReset=yes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
